<p id="notice"><%= notice %></p>

<div id="timer-button">
  <% if current_user.timer_running? %>
    <%= render 'clock_out_button.erb' %>
  <% else %>
    <%= render 'clock_in_button.erb' %>
  <% end %>
</div>


<h1>Your times</h1>

<table>
  <thead>
    <tr>
      <th>Starts At</th>
      <th>Finishes At</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
      <tr>
        <td><%= formated_time(time_entry.starts_at) %></td>
        <td><%= formated_time(time_entry.finishes_at, 'Running...') %></td>
        <td>
          <% if time_entry.finishes_at %>
            <%= link_to 'Edit', edit_time_entry_path(time_entry) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
